<div class="card__wrapper-inner col s4">

    <div class="card" style="display: flex; align-items: center; justify-content: space-between; padding: 15px;">
        <p>{{login}}</p>

        <a class="btn" href="/admin/delete/{{_id}}">Удалить</a>
    </div>
</div>