<footer class="">
    <div class="container">
    © 2014 Copyright Text
    <a class="grey-text text-lighten-4 right" href="#!">Написать в тех. поддержку</a>
    </div> 
</footer>
<script src="https://api-maps.yandex.ru/2.1/?apikey=2b402e33-5f17-46e0-8610-1c0027f0751e&lang=ru_RU"
  type="text/javascript">
</script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
<script src="https://unpkg.com/imask"></script>
<script src="/app.js"></script>