<nav>
  <div class="nav-wrapper">
    {{#if isAdmin}}
    <a href="/admin" class="brand-logo">Администрирование</a>
    {{else}}
    <a href="/" class="brand-logo">Магазин</a>
    {{/if}}
    <ul id="nav-mobile" class="right hide-on-med-and-down">

      {{#if isHome}}
      <li class="active"><a href="/">Главная</a></li>
      {{else}}
      <li><a href="/">Главная</a></li>
      {{/if}}

      {{#if isAuth}}

      <li><a href="/auth/logout">Выйти</a></li>

      {{else}}

      {{#if isLogin}}
      <li class='active'><a href="/auth#login">Войти</a></li>
      {{else}}
      <li><a href="/auth#login">Войти</a></li>
      {{/if}}
      {{/if}}

    </ul>
  </div>
</nav>