<div class="card__wrapper-inner col s6">
    <div class="card" style="padding: 15px;">
        <h4>{{email}}</h4>
        <p>{{text}}</p>

        <a class="btn" href="/admin/delete/{{_id}}">Перейти</a>
    </div>
</div>