
{{#if rents.length}}
  <h1>Аренда квартир</h1>  
  <div class="card__wrapper row">
  {{#each rents }}
    {{> cardRent}}
  {{/each}}
</div>
<div class="row">
  <div class="col s10"><ul id="pagination" class="pagination" data-pages="{{countPage}}" data-otherpages="{{countPage}}"></ul></div>
  <div class="input-field col s2">
    <select name="countOnPage" id="countOnPage">
      <option value="8">8</option>
      <option value="16">16</option>
    </select>
    <label for="countOnPage">Количество на странице</label>
  </div>
</div>
{{else}}
 <h1>Товаров для аренды нет</h1>
{{/if}}