
{{#if sales.length}}
  <h1>Продажа квартир</h1>  
  <div class="card__wrapper row">
  {{#each sales }}
    {{> cardSale}}
  {{/each}}
</div>
<ul id="pagination" class="pagination" data-pages="{{countPage}}">
  </ul>
{{else}}
 <h1>Товаров для продажи нет</h1>
{{/if}}