<div class="row auth">
  <div class="col s12">
    <ul class="tabs">
      <li class="tab col s6"><a class="active" href="#login">Войти</a></li>
      <li class="tab col s6"><a href="#register">Регистрация</a></li>
    </ul>
  </div>
  <div id="login" class="col s6 offset-s3">
    {{#if loginError}}
    <p class="alert">{{loginError}}</p>
    {{/if}}
    <h1>Войти в аккаунт</h1>
    <form action="/auth/login" method="POST">
      <div class="input-field">
        <input id="username" name="username" type="email" class="validate" required>
        <label for="username">Email</label>
        <span class="helper-text" data-error="Введите email"></span>
      </div>

      <div class="input-field">
        <input id="password" name="password" type="password" class="validate" required>
        <label for="password">Пароль</label>
        <span class="helper-text" data-error="Введите пароль"></span>
      </div>

      <button type="submit" class="btn btn-primary">Войти</button>
    </form>
  </div>

  <div id="register" class="col s6 offset-s3">
    {{#if registerError}}
    <p class="alert">{{registerError}}</p>
    {{/if}}
    <h1>Регистрация</h1>
    <form action="/auth/register" method="POST">
      <div class="input-field">
        <input id="email" name="email" type="email" class="validate" required>
        <label for="email">Email</label>
        <span class="helper-text" data-error="Введите email"></span>
      </div>

      <div class="input-field">
        <input id="username" name="username" type="text" class="validate" required>
        <label for="username">ФИО</label>
        <span class="helper-text" data-error="Введите ваше фио"></span>
      </div>

      <div class="input-field">
        <input id="phoneNumber" name="phoneNumber" type="tel" minlength="19" required>
        <label for="phoneNumber">Номер телефона</label>
        <span class="helper-text" data-error="Введите номер телефона"></span>
      </div>

      <div class="input-field">
        <input id="password" name="password" type="password" class="validate" minlength="8" maxlength="20" required>
        <label for="password">Пароль</label>
        <span class="helper-text" data-error="Введите пароль [8-20]"></span>
      </div>

      <div class="input-field">
        <input id="confirm" name="confirm" type="password" class="validate" minlength="8" maxlength="20" required>
        <label for="confirm">Пароль еще раз</label>
        <span class="helper-text" data-error="Введите пароль повторно [8-20]"></span>
      </div>

      <button type="submit" class="btn btn-primary">Регистрация</button>
    </form>
  </div>
</div>