<div id="sale" class="col s10 offset-s1">
  <h1>Продажа квартиры</h1>
  <form action="/announcement/add" method="POST">

    {{!-- <div class="input-field">
      <select name="street">
        <option value="" disabled selected>Улица</option>
        <option value="Негра">Негра</option>
        <option value="Черножопого">Черножопого</option>
        <option value="Уголька">Уголька</option>
      </select>
      <label>Улица</label>
    </div> --}}

    <div class="input-field">
      <input id="street" name="street" type="text" class="autocomplete">
      <label for="street">Улица</label>
      <span class="helper-text" data-error="Введите улицу"></span>
    </div>

  
    <div id="YMapsID" style="width: 100%; height: 550px;"></div>

    <div class="input-field">
      <select name="roomsCount">
        <option value="" disabled selected>Число комнат</option>
        <option value="1 комн. квартира">1 комн. квартира</option>
        <option value="2 комн. квартира">2 комн. квартира</option>
        <option value="3 комн. квартира">3 комн. квартира</option>
        <option value="4 комн. квартира">4 комн. квартира</option>
        <option value="5 комн. квартира">5 комн. квартира</option>
        <option value="6 комн. квартира">6 комн. квартира</option>
        <option value="7 комн. квартира">7 комн. квартира</option>
        <option value="8 комн. квартира">8 комн. квартира</option>
        <option value="9 комн. квартира">9 комн. квартира</option>
        <option value="10 комн. квартира">10 комн. квартира</option>
      </select>
      <label>Число комнат</label>
    </div>

    <div class="input-field">
      <input id="totalArea" name="totalArea" type="number" class="validate" required>
      <label for="totalArea">Общая площадь</label>
      <span class="helper-text" data-error="Введите общую площадь"></span>
    </div>

    <div class="input-field">
      <input id="livingArea" name="livingArea" type="number" class="validate" required>
      <label for="livingArea">Жилая площадь</label>
      <span class="helper-text" data-error="Введите жилую площадь"></span>
    </div>

    <div class="input-field">
      <input id="kitchenArea" name="kitchenArea" type="number" class="validate">
      <label for="kitchenArea">Площадь кухни</label>
      <span class="helper-text" data-error="Введите площадь кухни"></span>
    </div>

    <div class="input-field">
      <select name="typeHouse">
        <option value="" disabled selected>Тип дома</option>
        <option value="панельный">панельный</option>
        <option value="кирпичный">кирпичный</option>
        <option value="блок-комнаты">блок-комнаты</option>
        <option value="монолитный">монолитный</option>
        <option value="каркасно-блочный">каркасно-блочный</option>
        <option value="силикатные блоки">силикатные блоки</option>
        <option value="бревенчатый">бревенчатый</option>
      </select>
      <label>Тип дома</label>
    </div>

    <div class="input-field">
      <input id="floor" name="floor" type="number" class="validate">
      <label for="floor">Этаж</label>
      <span class="helper-text" data-error="Введите этаж"></span>
    </div>

    <div class="input-field">
      <input id="countOfFloors" name="countOfFloors" type="number" class="validate">
      <label for="countOfFloors">Количество этажей</label>
      <span class="helper-text" data-error="Введите количество этажей"></span>
    </div>

    <div class="input-field">
      <select name="balcony">
        <option value="" disabled selected>Балкон</option>
        <option value="нет">нет</option>
        <option value="балкон">балкон</option>
        <option value="лоджия">лоджия</option>
        <option value="балкон застекленный">балкон застекленный</option>
        <option value="балкон застекленный">балкон застекленный</option>
        <option value="2 балкона">2 балкона</option>
        <option value="2 лоджии">2 лоджии</option>
        <option value="2 балкона застекленные">2 балкона застекленные</option>
        <option value="2 лоджии застекленные">2 лоджии застекленные</option>
      </select>
      <label>Балкон</label>
    </div>

    <div class="input-field">
      <textarea id="description" name="description" class="materialize-textarea"></textarea>
      <label for="description">Описание</label>
    </div>

    <div class="input-field">
      <select name="ownership">
        <option value="" disabled selected>Собственность</option>
        <option value="государственная">государственная</option>
        <option value="долевое строительство">долевое строительство</option>
        <option value="частная">частная</option>
        <option value="жилищные облигации">жилищные облигации</option>
      </select>
      <label>Собственность</label>
    </div>

    <div class="input-field">
      <input id="price" name="price" type="number" class="validate">
      <label for="price">Цена</label>
      <span class="helper-text" data-error="Цена"></span>
    </div>

    <div class="input-field">
      <select name="currency">
        <option value="" disabled selected>Валюта</option>
        <option value="BYN">BYN</option>
        <option value="EUR">EUR</option>
        <option value="USD">USD</option>
      </select>
      <label>Валюта</label>
    </div>

    {{!-- <div class="input-field photos">
      <input class="box__files" type="file" name="photos" id="file" data-multiple-caption="{count} files selected" multiple />
      <label for="file">
        <strong>Choose a file</strong>
        <span class="box__dragndrop"> or drag it here</span>.
      </label>
      <div class="box__uploading">Uploading…</div>
      <div class="box__success">Done!</div>
      <div class="box__error">Error! <span></span>.</div>
    </div> --}}

    <input type="hidden" value="sale" name="type">

    <button type="submit" class="btn btn-primary">Разместить объявление</button>
  </form>
</div>