<h1 style="margin-bottom: 100px">Обращение в поддержку</h1>
<form action="/messages/support/send" method="POST">
    <textarea class="materialize-textarea" name="text" id="text" rows="20"></textarea>
    <button type="submit" class="btn">Отправить</button>
</form>